body {
    background-color: #2f2841;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    
}

.conteiner {
    margin: 70px;
    background: #231e30;
    padding: 20px;
    border-radius: 20px;
}

h1 {
    color: #77ffc0;
}

h3 {
    color: #77ffc0;
}
