<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrototipoRH.Properties.Settings.BdFolhaFacilConnectionString"
            connectionString="Data Source=DESKTOP-RBUOEDR\SQLEXPRESS;Initial Catalog=BdFolhaFacil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PrototipoRH.Properties.Settings.BdFolhaFacilConnectionString1"
            connectionString="Data Source=DESKTOP-NH2G201\SQLEXPRESS;Initial Catalog=BdFolhaFacil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>